<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-default bg-light">
  <div class="container-fluid" style="background-color: #cfcccc">
  <a class="navbar-brand" href="{{ url_for('index') }}">nnoct.py.com</a>
    <div>
        <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
          <li class="nav-item">
            <a href="english" class="nav-link active rounded-5" id="eng-tab2" aria-selected="true">Eng</a>
          </li>
          <li class="nav-item">
            <a href="ukrainian" class="nav-link rounded-5" id="urk-tab2" aria-selected="false">Ukr</a>
          </li>
        </ul>
    </div>
      <div>
        <ul class="navbar-nav">
            {% if current_user.is_authenticated%}

            <li class="active"><a class="nav-link" href="{{ url_for('logout') }}" style="background-color: #ababab; color: #ffffff;border-radius: 15px;">Log out</a></li>
            {% else %}
            <li><a class="nav-link" href="{{ url_for('signup') }}" style="background-color: #4698f0; color: #ffffff; border-radius: 15px;">Sign up</a></li>
            <li><a class="nav-link" href="{{ url_for('login') }}" style="background-color: #4698f0; color: #ffffff; border-radius: 15px;">Log in</a></li>
            {% endif %}
        </ul>
      </div>
  </div>
</nav>
<div class="row">
    <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7" style="background-color: #98a7eb; border-radius: 15px">
        <div class="container">
            <h2 id="description">Hi!I Vlad.<br>This is experimental project and im just using my coding skills. The essence of this project,<br>
            or rather the site, is to capture an object (for example, a body or a face) <br>
            in a picture <a href="https://ru.wikipedia.org/wiki/PNG" style="color: #000000; text-decoration: none;">png</a>, <a href="https://ru.wikipedia.org/wiki/JPEG" style="color: #000000; text-decoration: none;">jpg</a> format that the user uploads to my site.</h2>
            <h3 style="background-color: #727eb3">For example</h3>
            <img src="static/results.img/example_11afasgwt3EFfgwetTAG.png" width="850" height="900"><h6 style="background-color: #b01a1a; color: #ffffff; border-radius: 15px;">Warning! Please be sure that photo you send to our server contains outline of human body or face!</h6>
        </div>
    </div>
    <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5" style="background-color: #9d9d9e; border-radius: 5px">
        {% if msg == "Successfully logged in!" or msg == "Successfuly added!" or msg == "Successfully changed" or msg == "Successfully changed to english language" %}
        <div class="container-fluid">
            <strong style="background: #618c5b; color: #ffffff;">{{ msg }}</strong>
        </div>
        {% else %}
        <div class="container-fluid">
            <strong style="background: #b32727; color: #ffffff;">{{ msg }}</strong>
        </div>
        {% endif %}

        <div class="container" style="background-color: #9d9d9e; border-radius: 5px;">
            {% if current_user.is_authenticated %}
            <div class="container">
                <center>
                  <a class="btn btn-primary btn-lg btn-center" type="button" href="{{ url_for('import_image') }}" style="background-color: #dedb18; border-radius: 15px; ">Let's start</a>
                </center>
            </div>
            {% endif %}
        {% block content %}

        {% endblock %}
        </div>
    </div>
</div>
<br>
<footer>
    <center><p style="
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;">&copy; 2023 My Website</p>
    </center>
</footer>
</body>
</html>